body {
  /* margin: 0; */
  font-family: 'Roboto', 'Montserrat', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',-apple-system, BlinkMacSystemFont,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
  color: #FFFFFF;
  max-width: 1440px;
  margin: auto;
  box-sizing: border-box;
  min-height: 100vh; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 main {
   min-height: calc(100vh - 24rem); 
  /* height: 100%;  */
} 

/* @media screen and (max-width: 1240px) {
  main {
    margin: 20px;
  }
} */

/* a {
  text-decoration: none;
} */